table {
            border: 1px solid black;
            border-spacing: 1px;
            padding: 1px;
            width: 100%;
        }
        td {
            border: 1px solid black;
            padding: 4px;
        }

        .center {
            text-align: center;
        }
        .right {
            text-align: right;
        }

        .green {
            background-color: green;
        }
        .blue {
            background-color: blue;
        }

        .middle {
            margin: 20px auto;
            width: 95%;
        }

        h1 {
            text-align: center;
        }